doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title= title
    link(rel='shortcut icon' href='/puppet-show/images/favicon.ico')
  body
    h1= message
    h2= error.status
    pre #{error.stack}